.container,
.container-fluid {
  padding-right: 0.75rem !important;
  padding-left: 0.75rem !important;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 640px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1140px;
  }
}

@media (min-width: 1920px) {
  .container {
    max-width: 1320px;
  }
}

.container {
  padding: 20px;
}
