/** { xs: 0, s: 640, m: 1024, l: 1280, xl: 1536, xxl: 1920 } **/

$breakpoints-xs: 0px;
$breakpoints-sm: 640px;
$breakpoints-md: 1024px;
$breakpoints-lg: 1280px;
$breakpoints-xl: 1536px;
$breakpoints-xxl: 1920px;