/** { xs: 0, s: 640, m: 1024, l: 1280, xl: 1536, xxl: 1920 } **/

$breakpoints-xs: 0px;
$breakpoints-sm: 640px;
$breakpoints-md: 1024px;
$breakpoints-lg: 1280px;
$breakpoints-xl: 1536px;
$breakpoints-xxl: 1920px;

$modal-sm: $breakpoints-sm;
$modal-md: $breakpoints-md;
$modal-lg: $breakpoints-lg;
$modal-xl: $breakpoints-xl;
$modal-xxl: $breakpoints-xxl;

@import "grid";
/** 唉 这个地方栅格和 naiveui 的还不统一 也不知道这样可不可以 结果 landing 的效果就很差 如果开源出去 请勿喷 (( 在学了 在学了 **/
